* {
    margin: 0;
    padding: 0;

}
body {
    background-image: url("https://jyllands-posten.dk/gamletillaeg/saertillaeg/image/9387078/r7prg7/ALTERNATES/gallery/1902autocampere5");
    background-size: cover;
}
/* Border in the top where all the buttons are */
nav {
    width: 100%;
    height: 55px;
    background-color: white;
}
/* Title of the website */
nav p {
    display: block;
    font-family: Arial;
    font-size: 20px;
    line-height: 35px;
    float: left;
    padding: 10px 20px;
    background-color: lightblue;
}
nav ul {
    float: left;
    list-style: none;
    position: relative;
}
/* Makes the button go left of eachother instead of down */
nav ul li {
    float: left;
    list-style: none;
}
/* Gives spacing between buttons, and a letter type + size */
nav ul li a {
    display: block;
    font-family: Arial;
    color: #222;
    font-size: 14px;
    padding: 21px 14px;
    text-decoration: none;
}
/* Dropdown menu box with edges */
nav ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
    width: 167px;
}
nav ul li:hover ul {
    display: block;

}
nav ul li ul li  {
    width: 180px;
    border-radius: 4px;

}
nav ul li ul li a {
    padding: 8px 14px;
}
nav ul li ul li a:hover {
    background-color: lightblue;
    width: 150px;
}

