<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Contract</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="createStyle.css">
</head>
<body>
<nav>
    <p><a href="/">Nordic Motorhomes</a></p>
    <ul>
        <li><a href="#">Account </a>
            <ul>
                <li><a href="/create">Create account</a> </li>
                <li><a href="/showCustomer">Show account

                </a> </li>
            </ul>
        </li>
        <li><a href="#">Browse Cars</a>
            <ul>
                <li><a href="">Reserve Cars</a> </li>
                <li><a href="">Rented Cars</a> </li>
            </ul>
        </li>
        <li><a href="#">Statistic</a>
        </li>
        <li><a href="#">About us</a>
            <ul>
                <li><a href ="">Nordic Motorhomes</a> </li>
                <li><a href ="https://www.google.com/maps/place/Christian+4+Vej+53,+6000+Kolding/@55.472469,9.4883382,17z/data=!3m1!4b1!4m5!3m4!1s0x464ca1e7593e6a0d:0x87e7bc609fd75b49!8m2!3d55.472469!4d9.4905269">Christian 4 vej 53</a>
                <li><a href ="https://www.google.com/maps/place/Christian+4+Vej+53,+6000+Kolding/@55.472469,9.4883382,17z/data=!3m1!4b1!4m5!3m4!1s0x464ca1e7593e6a0d:0x87e7bc609fd75b49!8m2!3d55.472469!4d9.4905269">6000 Kolding</a> </li>
                <li><a href ="">Tlf: 22991913</a> </li>
                <li><a href ="mailto:nordicmotorhomes@outlook.dk">Mail:NMH@outlook.dk</a> </li>
            </ul>
        </li>

    </ul>
</nav>

<div id ="wrapperContact" >
    <form action ="" method="post">
        <div id = "left">
            <div class = "container">
                <h1>Contact information</h1>
                <label for="fname"><i class="fa fa-user"></i> First name</label>
                <input type="text" id="fname" name="first_name" placeholder="Christian" required>
                <br />
                <label for="lname"><i class="fa-lastmame"></i> Last name</label>
                <input type="text" id="lname" name="last_name" placeholder="Hornbæk" required>
                <br />
                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                <input type="text" id="email" name="email" placeholder="Christian.hornbæk@gmail.com" required>
                <br />
                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                <input type="text" id="adr" name="address" placeholder="Bakkefaldet 56" required>
                <br />
                <label for="zipcode"><i class="fa fa-institution"></i> Zip code</label>
                <input type="text" id="zipcode" name="zip" placeholder="2840" required>
                <br />
                <label for="dlnr"><i class="fa fa-institution"></i> Drivers liscense nr.</label>
                <input type="text" id="dlnr" name="drivernr" placeholder="21425632" required>
                <br />
                <label for="dldate"><i class="fa fa-institution"></i> Drivers liscense date</label>
                <input type="text" id="dldate" name="driverdate" placeholder="2020/11/01" required>
                <input type="submit" value="Confirm">
            </div>
        </div>
        <div id = "right">
            <div class = "container">
                <h1>Rental specifications</h1>
                <label for="dateOfRental"><i class="fa fa-user"></i> Date of rental</label>
                <input type="text" id="dateOfRental" name="daeofrental" placeholder="2020/12/23" required>
                <label for="dateOfhandin"><i class="fa fa-user"></i> Date of Hand in</label>
                <input type="text" id="dateOfhandin" name="date" placeholder="2021/1/23" required>
                <br />
            </div>
        </div>
    </form>
</div>


</body>
</html>