<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../MyCSS.css" rel="stylesheet" type="text/css">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="../createStyle.css" rel="stylesheet" type="text/css">
</head>
<body>

<nav>
    <p><a href="/">Nordic Motorhomes</a></p>
    <ul>
        <li><a href="#">Account </a>
            <ul>
                <li><a href="/create">Create account</a> </li>
                <li><a href="/showCustomer">Show account</a> </li>
            </ul>
        </li>
        <li><a href="#">Browse Cars</a>
            <ul>
                <li><a href="/showCars">Reserve Cars</a> </li>
                <li><a href="/showContracts">Rented Cars</a> </li>
            </ul>
        </li>
        <li><a href="#">Statistic</a>
        </li>
        <li><a href="#">About us</a>
            <ul>
                <li><a href ="">Nordic Motorhomes</a> </li>
                <li><a href ="https://www.google.com/maps/place/Christian+4+Vej+53,+6000+Kolding/@55.472469,9.4883382,17z/data=!3m1!4b1!4m5!3m4!1s0x464ca1e7593e6a0d:0x87e7bc609fd75b49!8m2!3d55.472469!4d9.4905269">Christian 4 vej 53</a>
                <li><a href ="https://www.google.com/maps/place/Christian+4+Vej+53,+6000+Kolding/@55.472469,9.4883382,17z/data=!3m1!4b1!4m5!3m4!1s0x464ca1e7593e6a0d:0x87e7bc609fd75b49!8m2!3d55.472469!4d9.4905269">6000 Kolding</a> </li>
                <li><a href ="">Tlf: 22991913</a> </li>
                <li><a href ="mailto:nordicmotorhomes@outlook.dk">Mail:NMH@outlook.dk</a> </li>
            </ul>
        </li>
    </ul>
</nav>
    <table class="table.left">
        <thead>
        <tr>
            <th>Contract ID</th>
            <th>Car brand</th>
            <th>Car model</th>
            <th>Car type</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Date of reservation</th>
            <th>Date of hand in</th>
            <th>Start kilometer</th>
            <th>End kilometer</th>
            <th>Price</th>
            <th>ID Pickup</th>
            <th>ID dropoff</th>
            <th>Buttons</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contracts: ${contractlist}">
            <td th:text="${contracts.id}"/>
            <td th:text="${contracts.brand}"/>
            <td th:text="${contracts.model}"/>
            <td th:text="${contracts.type}"/>
            <td th:text="${contracts.first_Name}"/>
            <td th:text="${contracts.last_Name}"/>
            <td th:text="${contracts.date_of_Reserve}"/>
            <td th:text="${contracts.date_of_handIn}"/>
            <td th:text="${contracts.start_kilometer}"/>
            <td th:text="${contracts.end_kilometer}"/>
            <td th:text="${contracts.price}"/>
            <td th:text="${contracts.IDPickUp}"/>
            <td th:text="${contracts.IDekstra}"/>
            <td><button class="btn">End rental</button></td>
        </tr>
        </tbody>
    </table>
<div class ="editContract" >
    <form action ="getContract" method="get">
        <h1>Edit Contract</h1>
        <label for="contractID"><i class="fa fa-user"></i> Contract ID</label>
        <input type="text" id="contractID" name="contract-ID" placeholder="Enter contract ID">
        <input type="submit" value="Confirm">
        <br />
        <br />
        <br />
        <br />
        <label for="carID"><i class="fa-lastmame"></i> Car ID</label>
        <input type="text" id="carID" name="carID" placeholder="Enter car ID">
        <br />
        <label for="idCustomer"><i class="fa fa-envelope"></i> Customer ID</label>
        <input type="text" id="idCustomer" name="idCustomer" placeholder="Enter customer ID">
        <br />
        <label for="dateOfReserve"><i class="fa fa-address-card-o"></i> Date of reservation</label>
        <input type="text" id="dateOfReserve" name="dateOfRes" placeholder="Enter date of reservation like '2020-05-05'">
        <br />
        <label for="dateOfHandIn"><i class="fa fa-institution"></i> Date of hand-in</label>
        <input type="text" id="dateOfHandIn" name="dateOfHand" placeholder="Enter date of hand-in like '2020-05-05'">
        <br />
        <label for="startkm"><i class="fa fa-institution"></i> Start odometer</label>
        <input type="text" id="startkm" name="startKM" placeholder="Enter start km.">
        <br />
        <label for="endkm"><i class="fa fa-institution"></i> End odometer</label>
        <input type="text" id="endkm" name="endKM" placeholder="Enter end km.">
        <br />
        <label for="price"><i class="fa fa-institution"></i> Price</label>
        <input type="text" id="price" name="price" placeholder="Enter price for rental">
        <br />
        <label for="idPickUp"><i class="fa fa-institution"></i> Pick up ID</label>
        <input type="text" id="idPickUp" name="pickUpID" placeholder="Enter ID of pickup destination">
        <br />
        <label for="idDropOff"><i class="fa fa-institution"></i> Drop off ID</label>
        <input type="text" id="idDropOff" name="dropOffID" placeholder="Enter ID of dropoff destination">
        <input type="submit" value="Confirm">
    </form>
</div>
</body>
</html>