<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../MyCSS.css" rel="stylesheet" type="text/css">
</head>

<table>
    <thead>
<tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Phonenumber</th>
    <th>Mail</th>
    <th>address</th>
    <th>Zip</th>
    <th>Buttons</th>
</tr>
</thead>
<tbody>
<tr th:each="person: ${customers}">
    <td th:text="${person.id}" />
    <td th:text="${person.firstName}" />
    <td th:text="${person.lastName}" />
    <td th:text="${person.phone}" />
    <td th:text="${person.mail}" />
    <td th:text="${person.address}" />
    <td th:text="${person.zip}" />
    <td>
        <a th:href="@{'/deleteCustomer/'+@{person.id}}">
            <button class="btn-delete" id="btn-delete">Delete</button>
        </a>
        <a th:href = "@{'/updateCustomer/'+@{person.id}}">
            <button class="btn-update" id="btn-update">Edit</button>
        </a>
    </td>
    </tr>
</table>
</body>
</html>